.site-about{
  &-header{
    padding-top: 60px;
    background-color: $secondary-color;
    @include mobile{
      margin-top: 80px;
      text-align: center;
    }
  }
  &-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-company{
    background: $secondary-color;
    width: 40%;
    padding: 0px 0px;
    @include desktop{
      width: 100%;
      margin-bottom: 1px;


    }

    h1{
      color: $white;
      font-weight: 400;
      font-size: 25px;
      line-height: 60px;
      text-transform: lowercase;
      letter-spacing: 1px;
      img{
         max-width: 100%;
         padding-bottom: 15px;
         }
    }
  }
  &-description{
    width: 60%;
    padding-left: 10px;
    @include desktop{
      width: 100%;
      padding: 0 38px;
    }
    p{
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 5px;
    }
  }
}
