.site-contact{
  padding: 15px 0 10px;
  background: $primary-color;
  img{
  max-width: 60%;
  padding-bottom: 5px;
  padding-top: 15px;
  }

  @include mobile{
    padding: 12px 0 10px;

  }
  &-title{
    font-weight: 600;
    @include tablet{
      font-size: 40px;
    }
    span{
      color: $primary-color;
    }
  }
  &-form{
    margin-top: 20px;
    h4{

      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 50px;
      letter-spacing: 3px;
      @include tablet{
        font-size: 20px;
      }
    img{
      max-width: 10%;
      padding-bottom: 6px;
    }
      @include desktop{
        margin-bottom: 70px;
      }
    }
  }
}
