{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
       <div class="site-contact-title"> <br><br><br>
          <h5>{{ .Params.heading | safeHTML }} {{ .Params.form_heading | safeHTML  }}</h5>
        </div></br></br></br>
      </div>
      <div class="col-lg-3">
        <div class="site-contact-title">
	<img src="{{ "images/ciastka.jpg" | absURL }}" alt="kamila" width="150%"/>
          <h5></h5>
         
        </div>
      </div>
    </div>
  </div>
</section>
{{ partial "call-to-action.html" . }}
{{ end }}
