{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
       <div class="site-contact-title"> <br><br><br>
          <h3>{{ .Params.heading | safeHTML }} <br></br> {{ .Params.form_heading | safeHTML  }}</h3>
        </div></br></br></br>

      </div>

      <div class="col-lg-6 ml-auto">
        <div class="site-contact-title">
	<img src="{{ "images/ciastka.jpg" | absURL }}" alt="kamila"/>     
         
        </div>
      </div>
    </div>
  </div>
</section>
{{ partial "call-to-action.html" . }}
{{ end }}
